.myBody {
    width:800px;
}
  
input[type="range"] {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: -25px;
    margin-right: -25px;
    height: 20px;
    width: 80px;
    transform: rotate(270deg);
}

.intensValue {
    width: 4em;
}

