menu "App Configuration"

    config ESP_WIFI_SSID
        string "WiFi SSID"
        default "myssid"
        help
            SSID (network name) for the example to connect to.

    config ESP_WIFI_PASSWORD
        string "WiFi Password"
        default "mypassword"
        help
            WiFi password (WPA or WPA2) for the example to use.

    config ESP_MAX_STA_CONN
        int "Maximal STA connections"
        default 4
        help
            Max number of the STA connects to AP.

    config WEB_MOUNT_POINT
        string "Website mount point in server"
        default "/server"
        help
            Specify the mount point for server partition. This is the spiffs partition name in partitions.csv

    config SETUP_MOUNT_POINT
        string "Partition mount point for storage files"
        default "/storage"
        help
            Specify the mount point for storage partition. This is the spiffs partition name in partitions.csv
endmenu
