<!DOCTYPE html>
<html lang="en">

<head>
    <title>WiFi Parameter</title>
    <link rel="stylesheet" href="/CommonStyles.css">
    <script src="/CommonScripts.js"></script>
</head>
<header>
    <div class="myBody">
    <h1>WiFi Connect</h1>
    <p>
        You can input your WiFi access code, in order to connect your device automatically.
        Consider to use a guest network to prevent exposing critical access codes to your network.
    </p>
    <p>
        Note: If you what to reset the WiFi parameter, please press the first button during startup.
    </p>
</div>
</header>

<body>
    <div class="myBody">
        <form onsubmit='return onSubmit(this)'>
            <table>
                <tr>
                    <td>SSID</td>
                    <td> <input type="text" name="ssid"></input> </td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td> <input type="password" name="password"></input> </td>
                </tr>
            </table>
            <input type="submit"><br><br>
            <button onclick="window.location='RgbSetupFull.html'">Skip</button>
            <p>Skip navigates directly to LED-setup</p>
        </form>
    </div>
    <script>
        SetUrl = "SetDevice/WiFiConnect"
    </script>
</body>

</html>