CONFIG_IDF_TARGET="esp32"
CONFIG_HTTPD_MAX_REQ_HDR_LEN=1024
CONFIG_ESP_WIFI_SSID="cLight"
CONFIG_ESP_WIFI_PASSWORD="FiatLux!"
CONFIG_ESP_MAX_STA_CONN=4
CONFIG_LWIP_LOCAL_HOSTNAME="LightController"

# Flash and Partition Options
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="16MB"

CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"


# Files
CONFIG_DEVICE_CONFIGURATION_FILENAME="IOConfiguration.json"
CONFIG_FACTORY_IMAGE_FILENAME="Device.json"
CONFIG_WEB_MOUNT_POINT="/server"
CONFIG_SETUP_MOUNT_POINT="/spiffs"
